{
   "trailingComma": "none",
   "tabWidth": 4,
   "semi": true,
   "singleQuote": true,
   "printWidth": 120,
   "jsxBracketSameLine": false,
   "singleAttributePerLine": true,
   "arrowParens": "always",
   "bracketSpacing": false
}